@{
    ViewData["Title"] = "Home";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RoboTech</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/favicon.png">
    <!--CSS nay la template cua Nhan -->
    <link rel="stylesheet" href="~/css/Bootswatch.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="/_Layout.cshtml.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RoboTech.styles.css" asp-append-version="true" />
    
    <script src="https://kit.fontawesome.com/3518e7db2c.js" crossorigin="anonymous"></script>
    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom py-4 box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand offset-1" asp-area="" asp-controller="Home" asp-action="Index">ROBOTECH</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <form class="d-flex offset-2">
                                <input class="form-control search-bar" type="text" placeholder="Search any products...">
                            <button class="btn search-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                        </form>
                        <li class="offset-1" style="margin-top: 7px">
                            <div >
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <i class="fa-solid fa-user"></i> <a class="text-dark fw-semibold" style="text-decoration: none" href="/Dashboard">&nbsp;My Account</a>
                                    <a class="text-dark fw-semibold" style="text-decoration: none" asp-area="" asp-controller="Register" asp-action="Index">| Log out </a>
                                }
                                else
                                {
                                    <i class="fa-solid fa-user"></i> <a class="text-dark fw-semibold" style="text-decoration: none" href="/Login">&nbsp;Log in </a>
                                    <a class="text-dark fw-semibold" style="text-decoration: none" asp-area="" asp-controller="Register" asp-action="Index">| Sign Up </a>
                                }

                               
                            </div>
                        </li>
                        <li class="offset-1">
                            <div style="margin-top: 7px">
                                <i class="fa-solid fa-cart-shopping"></i> 
                                 <a class="text-dark fw-semibold" style="text-decoration: none" asp-area="" asp-controller="Home" asp-action="Index">
                                    &nbsp;Cart
                                 </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    
    <div class="container">
        <main role="main" class="pb-5">
            @RenderBody()
        </main>
    </div>
    <!--
    <footer class="footer text-muted" style="border-top: 1px solid #ccc">
        <div class="container text-center text-md-left ">
          &copy; 2022 - RoboTech - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            
            <div class="row text-center text-md-left ">
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3 ">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-info">Introduce Robotech</h5>
                    <hr class="mb-4" >
                    <div>
                        <span>About Us</span></br>
                        <span>Shopping Advice</span></br>
                        <span>Recruit</span>

                    </div>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-info">General Policy</h5>
                    <hr class="mb-4"/>
                    <p>
                        <a href="#" class="text-dark" style="text-decoration:none">Installment Plan</a>
                    </p>
                    <p>
                        <a href="#" class="text-dark" style="text-decoration:none">Warrenty Policy</a>
                    </p>
                    <p>
                        <a href="#" class="text-dark" style="text-decoration:none">Return and Refund Policy</a>
                    </p>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-info">Promotion </h5>
                    <hr class="mb-4" />
                    <p>
                        <a href="#" class="text-dark" style="text-decoration:none">Promotion Summary</a>
                    </p>
                    <p>
                        <a href="#" class="text-dark" style="text-decoration:none">Discount Product</a>
                    </p>
                  
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-info">Contact</h5>
                    <hr class="mb-4" />
                    <p>
                        <li class="fas fa-home mr-3"></li>HO CHI MINH 
                    </p>
                    <p>
                        <li class="fas fa-envelope mr-3"></li>robotech@gmail.com    
                    </p>
                    <p>
                        <li class="fas fa-phone mr-3"></li>0949123456
                    </p>
                    
                </div>
                <div class="row d-flex justify-content-center"> 
                    <div class="text-center">
                        <ul class="list-unstyled list-inline">
                            <li class="list-inline-item">
                                <a href="#" class="text-dark"><li class="fab fa-facebook"></li></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#" class="text-dark">
                            <li class="fab fa-google-plus"></li></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#" class="text-dark">
                            <li class="fab fa-youtube"></li></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#" class="text-dark">
                            <li class="fab fa-linkedin-in"></li></a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </footer>
   -->
    <footer class="footer border-top footer text-muted">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>company</h4>
                    <ul>
                        <li><a href="#">about us</a></li>
                        <li><a href="#">our services</a></li>
                        <li><a href="#">privacy policy</a></li>
                        <li><a href="#">Warrabty policy</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>get help</h4>
                    <ul>
                        <li><a href="#">shipping</a></li>
                        <li><a href="#">returns</a></li>
                        <li><a href="#">order status</a></li>
                        <li><a href="#">payment options</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>online shop</h4>
                    <ul>
                        <li><a href="#">Laptop</a></li>
                        <li><a href="#">PC</a></li>
                        <li><a href="#">Screen</a></li>
                        <li><a href="#">Keyboard</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4 >follow us</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
            <div class="copyright">
                Copyright &copy; 2022 <strong>ROBOTECH</strong>. Powered by UIT - <a asp-area="" asp-controller="Home" asp-action="Privacy">Our Privacy</a>
            </div>
            
 
        </div>
    </footer>


  @*  <footer class="border-top footer text-muted">
        
    </footer>*@
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


