<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
<footer>
    @RenderSection("scripts", required: false)
    @*Khoi them footer tai day*@
</footer>
</html>
