
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/favicon.png">
    <!-- CSS -->
    <link rel="stylesheet" href="~/css/style_login.css" asp-append-version="true"/>
    <title>@ViewData["Title"]</title>
    <!-- Boxicons CSS -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
</head>
<body style="margin-bottom: 0">
    <div class="container-login forms">
        @RenderBody()
    </div>
    <script src="~/js/script_login.js"></script>
    @await Component.InvokeAsync("Notyf")
</body>
</html>
