
@model RoboTech.Models.TbProduct

<div>
    <div class="left-zone ads"  >
        <img src="~/assets/img/banner-left.png" asp-append-version="true" height="350px" />
    </div>
    
    <div id="category" class="container mb-5">
        <div class="row">
            <div class="col-lg-3 flex-grow-1">
                <div class="heading">
                    <i class="fa fa-bars text-white"></i>&nbsp&nbsp
                    <span class="text-white"> Product Category</span>
                </div>
                <ul class="nav-item">
                    <li >
                            <button class="btn" type="button">
                                <i class="fa-solid fa-laptop"></i>Laptop
                            </button>
                        <ul class="subnav">
                            <li >
                                <a class="head-nav" href="danhmuc/laptop">
                                    <h4 style="margin-top: 15px ">
                                        GAMING
                                    </h4>
                                </a>
                                <ul class="subnav2">
                                    <li>
                                        <span>Brand</span>
                                        <ul>
                                            <li><a href="#">ACER</a></li>
                                            <li><a href="#">ASUS</a></li>
                                            <li><a href="#">MSI</a></li>
                                            <li><a href="#">LENOVO</a></li>
                                            <li><a href="#">DELL</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <span>Price</span>
                                        <ul>
                                            <li><a href="#">Below 20 milion dong</a></li>
                                            <li><a href="#">Between 20 milion and 25 milion</a></li>
                                            <li><a href="#">More than 25 milion dong</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <span>Graphic Card</span>
                                        <ul>
                                            <li><a href="#">GTX 1650</a></li>
                                            <li><a href="#">RTX 3050</a></li>
                                            <li><a href="#">RTX 3060</a></li>
                                            <li><a href="#">RTX 3070 / 3080</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="head-nav" href="#">
                                    <h4>
                                        OFFICE
                                    </h4>
                                </a>
                                <ul class="subnav2">
                                    <li>
                                        <span>Brand</span>
                                        <ul>
                                            <li><a href="#">ACER</a></li>
                                            <li><a href="#">ASUS</a></li>
                                            <li><a href="#">MSI</a></li>
                                            <li><a href="#">LENOVO</a></li>
                                            <li><a href="#">DELL</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <span>Price</span>
                                        <ul>
                                            <li><a href="#">Below 20 milion dong</a></li>
                                            <li><a href="#">Between 20 milion and 25 milion</a></li>
                                            <li><a href="#">More than 25 milion dong</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <span>CPU</span>
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    Intel Core i3
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Intel Core i5
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Intel Core i7
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    AMD Ryzen
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <button class="btn">
                            <i class="fa-solid fa-computer"></i>
                            PC
                        </button>
                        <ul class="subnav" style="margin-top: -157px">
                            <li>
                                <a class="head-nav" href="#">
                                    <h4 style="margin-top: 15px ">
                                        GAMING
                                    </h4>
                                </a>
                                <ul class="subnav2 mb-4">
                                    <li>
                                        <span>GVN TITAN - i9 / r9</span>
                                        <ul>
                                            <li><a href="#">Titan Plus i3090/Ti - i9</a></li>
                                            <li><a href="#">Titan Plus i3080/Ti - i9</a></li>
                                            <li><a href="#">Titan Plus i3070/Ti - i9</a></li>
                                            <li><a href="#">Titan Plus i3060/Ti - i9</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <span>GVN PHANTOM - i7 / r7</span>
                                        <ul>
                                            <li><a href="#">Phantom Plus i3080/Ti - i7</a></li>
                                            <li><a href="#">Phantom Plus i3070/Ti - i7</a></li>
                                            <li><a href="#">Phantom i3070 - i7</a></li>
                                            <li><a href="#">Phantom i3060/Ti - i7</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <span>GVN VIPER - i5 / r5</span>
                                        <ul>
                                            <li><a href="#">Viper Plus i3070 - i5</a></li>
                                            <li><a href="#">Viper Plus i3060/Ti - i5</a></li>
                                            <li><a href="#">Viper i3050 - i5</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="head-nav" href="#">
                                    <h4>
                                        OFFICE
                                    </h4>
                                </a>
                                <ul class="subnav2">
                                    <li>
                                        <span>GVN Homework</span>
                                        <ul>
                                            <li><a href="#">Homework Pentium - G6405</a></li>
                                            <li><a href="#">Homework i7</a></li>
                                            <li><a href="#">Homework i5</a></li>
                                            <li><a href="#">Homework i3</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <span>GVN Homework Mini</span>
                                        <ul>
                                            <li><a href="#">Homework Mini Pentium - G6405</a></li>
                                            <li><a href="#">Homework Mini i3 - 10105</a></li>
                                            <li><a href="#">Homework Mini i3 - 12100</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <span>Mini PC Cluster</span>
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    ASUS Mini PC PN63-S1
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    HP ProDesk 400 G6 Mini
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    HP EliteDesk 800 G6 Mini
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <button class="btn">
                            <i class="fa-solid fa-display"></i>
                            &nbspScreen
                        </button>
                        <ul class="subnav" style="margin-top: -235px">
                            <li>
                                <ul class="subnav2 mt-5 mb-5">
                                    <li>
                                        <span>Brand</span>
                                        <ul>
                                            <li><a href="#">LG</a></li>
                                            <li><a href="#">Dell</a></li>
                                            <li><a href="#">ViewSonic</a></li>
                                            <li><a href="#">Asus</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <span>Price</span>
                                        <ul>
                                            <li><a href="#">Below 5 milion dong</a></li>
                                            <li><a href="#">Between 5 milion and 10 milion</a></li>
                                            <li><a href="#">More than 10 milion dong</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <span>Resolution</span>
                                        <ul>
                                            <li><a href="#">HD 720p</a></li>
                                            <li><a href="#"></a>Full HD 1080p</li>
                                            <li><a href="#"></a>2k 1440p</li>
                                            <li><a href="#">4k</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <ul class="subnav2">
                                    <li>
                                        <span>Refresh Rate</span>
                                        <ul>
                                            <li><a href="#">60Hz</a></li>
                                            <li><a href="#">75Hz</a></li>
                                            <li><a href="#">100Hz</a></li>
                                            <li><a href="#">144Hz</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <span>Size</span>
                                        <ul>
                                            <li><a href="#">22"</a></li>
                                            <li><a href="#">24"</a></li>
                                            <li><a href="#">27"</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <span>Graphic Screen</span>
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    Graphic Screen 24"
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Graphic Screen 27"
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <button class="btn">
                            <i class="fa-regular fa-keyboard"></i>&nbspKeyboard
                        </button>
                        <ul class="subnav" style="margin-top: -313px">
                            <li>
                                <ul class="subnav2 mt-5 mb-5">
                                    <li>
                                        <span>Brand</span>
                                        <ul>
                                            <li><a href="#">Akko</a></li>
                                            <li><a href="#">IKBC</a></li>
                                            <li><a href="#">Razer</a></li>
                                            <li><a href="#">Corsair</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <span>Price</span>
                                        <ul>
                                            <li><a href="#">Below 1 milion dong</a></li>
                                            <li><a href="#">Between 1 milion and 2 milion</a></li>
                                            <li><a href="#">More than 2 milion dong</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <span>Switch</span>
                                        <ul>
                                            <li><a href="#">Blue Switch</a></li>
                                            <li><a href="#">Red Switch</a></li>
                                            <li><a href="#">Brown Switch</a></li>
                                            <li><a href="#">Clear Switch</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <ul class="subnav2">
                                    <li>
                                        <span>Akko Brand</span>
                                        <ul>
                                            <li><a href="#">ACR series</a></li>
                                            <li><a href="#">PC75 series</a></li>
                                            <li><a href="#">3084 series</a></li>
                                            <li><a href="#">3180 series</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <span>Razer Brand</span>
                                        <ul>
                                            <li><a href="#">Blackwidow series</a></li>
                                            <li><a href="#">Huntsman series</a></li>
                                            <li><a href="#">Cynosa series</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <span>Connection Type</span>
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    Bluetooth
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Wireless
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <button class="btn" style="padding-left:61px">
                            <i class="fa-solid fa-computer-mouse"></i>&nbsp&nbspMouse
                        </button>
                        <ul class="subnav" style="margin-top: -391px">
                            <li>
                                <ul class="subnav2" style="margin-top: 125px">
                                    <li>
                                        <span>Brand</span>
                                        <ul>
                                            <li><a href="#">Logitech</a></li>
                                            <li><a href="#">Razer</a></li>
                                            <li><a href="#">Corsair</a></li>
                                            <li><a href="#">Steelseries</a></li>
                                            <li><a href="#">Asus</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <span>Logitech Brand</span>
                                        <ul>
                                            <li><a href="#">Logitech G Pro series</a></li>
                                            <li><a href="#">Logitech G120 series</a></li>
                                            <li><a href="#">Logitech G series</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <span>Connection Type</span>
                                        <ul>
                                            <li><a href="#">Wireless</a></li>
                                            <li><a href="#">Bluetooth</a></li>
                                            <li><a href="#">Wired</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <button class="btn" style="border-radius: 0 0 0 5px">
                            <i class="fa-solid fa-headphones"></i>&nbsp&nbspHeadphone
                        </button>
                        <ul class="subnav" style="margin-top: -469px">
                            <li>
                                <ul class="subnav2" style="margin-top: 125px">
                                    <li>
                                        <span>Brand</span>
                                        <ul>
                                            <li><a href="#">Logitech</a></li>
                                            <li><a href="#">HyperX</a></li>
                                            <li><a href="#">Razer</a></li>
                                            <li><a href="#">Corsair</a></li>
                                            <li><a href="#">Asus</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <span>Headphone Brand</span>
                                        <ul>
                                            <li><a href="#">SOUNDPEAT</a></li>
                                            <li><a href="#">SKULL</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <span>Connection Type</span>
                                        <ul>
                                            <li><a href="#">Wireless</a></li>
                                            <li><a href="#">Bluetooth</a></li>
                                            <li><a href="#">Wired</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-lg-9 flex-grow-1" style="padding-left: 8px">
                <div class="heading">
                    <a href="#">Payment Instruction</a>
                    <a href="#">Installment Instruction</a>
                    <a href="#">Warranty Policy</a>
                </div>
                <div id="carouselSlider" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselSlider" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselSlider" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselSlider" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carouselSlider" data-bs-slide-to="3" aria-label="Slide 4"></button>
                        <button type="button" data-bs-target="#carouselSlider" data-bs-slide-to="4" aria-label="Slide 5"></button>
                        <button type="button" data-bs-target="#carouselSlider" data-bs-slide-to="5" aria-label="Slide 6"></button>
                        <button type="button" data-bs-target="#carouselSlider" data-bs-slide-to="6" aria-label="Slide 7"></button>
                        <button type="button" data-bs-target="#carouselSlider" data-bs-slide-to="7" aria-label="Slide 8"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <a href="#product"><img class="d-block w-100" src="~/assets/img/Slider/slider1.jpg"></a>
                        </div>
                       
                        <div class="carousel-item">
                            <a href="#product"><img class="d-block w-100" src="~/assets/img/Slider/slider2.jpg"></a>
                        </div>
                        <div class="carousel-item">
                            <a href="#product"><img class="d-block w-100" src="~/assets/img/Slider/slider3.jpg"></a>
                        </div>
                        <div class="carousel-item">
                            <a href="#product"><img class="d-block w-100" src="~/assets/img/Slider/slider4.jpg"></a>
                        </div>
                        <div class="carousel-item">
                            <a href="#product"><img class="d-block w-100" src="~/assets/img/Slider/slider5.jpg"></a>
                        </div>
                        <div class="carousel-item">
                            <a href="#product"><img class="d-block w-100" src="~/assets/img/Slider/slider6.png"></a>
                        </div>
                        <div class="carousel-item">
                            <a href="#product"><img class="d-block w-100" src="~/assets/img/Slider/slider7.jpg"></a>
                        </div>
                        <div class="carousel-item">
                            <a href="#product"><img class="d-block w-100" src="~/assets/img/Slider/slider8.jpg"></a>
                        </div>
                        
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselSlider" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselSlider" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    @*product section*@

    <div id="product">
        <div class="container">
            <h3 class="heading text-center font-weight-semibold mb-3">T O P &nbsp; T R E N D I N G &nbsp; PC</h3>
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    @* @if (Model != null && Model.Count() > 0)
                    {
                        foreach (var item in Model)
                        {
                            string url = $"/{item.Alias}-{item.ProductId}";
                            
                        }
                    }*@
                    <div class="swiper-slide">
                        <a asp-action="Index" asp-controller="Product">
                            <div class="slider-box">
                                <div class="img-box">
                                    <img src="~/assets/img/pc1.jpg" alt="" width="100%" height="200px" />
                                </div>
                                <p class="details">
                                    PC gaming Asus rog strix
                                </p>
                                <span class="price">
                                    <strike>30.000.000vnd</strike><br />
                                    25.000.000vnd
                                </span>
                                <div class="btn buy-btn">Add To Cart</div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#">
                            <div class="slider-box">
                                <div class="img-box"><img src="~/images/products/asus-gaming-rog.jpg" alt="" width="100%" height="200px" />
                                   
                                </div>
                                <p class="details">
                                    PC Asus Gaming ROG
                                </p>
                                <span class="price">
                                    <strike>48.190.000vnd</strike><br />
                                    47.190.000vnd
                                </span>
                                <div class="btn buy-btn">Add To Cart</div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#">
                            <div class="slider-box">
                                <div class="img-box">
                                    <img src="~/images/products/asus-vivobook-15x-oled.jpg" alt="" width="100%" height="200px" />
                                </div>
                                <p class="details">
                                    PC ASUS Vivobook OLED
                                </p>
                                <span class="price">
                                    <strike>19.590.000vnd</strike><br />
                                    18.590.000vnd
                                </span>
                                <div class="btn buy-btn">Add To Cart</div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#">
                            <div class="slider-box">
                                <div class="img-box">
                                    <img src="~/images/products/laptop-lenovo-ideapad.jpg" width="100%" height="200px" />
                               
                                </div>
                                <p class="details">
                                    Laptop Lenovo Ideapad
                                </p>
                                <span class="price">
                                    <strike>15.990.000vnd</strike><br />
                                    13.890.000vnd
                                </span>
                                <div class="btn buy-btn">Add To Cart</div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#">
                            <div class="slider-box">
                                <div class="img-box">
                                    <img src="~/assets/img/pc1.jpg" alt="" width="100%" height="200px" />
                                </div>
                                <p class="details">
                                    PC gaming Asus rog strix ga35
                                </p>
                                <span class="price">
                                    <strike>30.000.000vnd</strike><br />
                                    25.000.000vnd
                                </span>
                                <div class="btn buy-btn">Add To Cart</div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#">
                            <div class="slider-box">
                                <div class="img-box">
                                    <img src="~/assets/img/pc1.jpg" alt="" width="100%" height="200px" />
                                </div>
                                <p class="details">
                                    PC gaming Asus rog strix ga35
                                </p>
                                <span class="price">
                                    <strike>30.000.000vnd</strike><br />
                                    25.000.000vnd
                                </span>
                                <div class="btn buy-btn">Add To Cart</div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#">
                            <div class="slider-box">
                                <div class="img-box">
                                    <img src="~/assets/img/pc1.jpg" alt="" width="100%" height="200px" />
                                </div>
                                <p class="details">
                                    PC gaming Asus rog strix ga35
                                </p>
                                <span class="price">
                                    <strike>30.000.000vnd</strike><br />
                                    25.000.000vnd
                                </span>
                                <div class="btn buy-btn">Add To Cart</div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#">
                            <div class="slider-box">
                                <div class="img-box">
                                    <img src="~/assets/img/pc1.jpg" alt="" width="100%" height="200px" />
                                </div>
                                <p class="details">
                                    PC gaming Asus rog strix ga35
                                </p>
                                <span class="price">
                                    <strike>30.000.000vnd</strike><br />
                                    25.000.000vnd
                                </span>
                                <div class="btn buy-btn">Add To Cart</div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#">
                            <div class="slider-box">
                                <div class="img-box">
                                    <img src="~/assets/img/pc1.jpg" alt="" width="100%" height="200px" />
                                </div>
                                <p class="details">
                                    PC gaming Asus rog strix ga35
                                </p>
                                <span class="price">
                                    <strike>30.000.000vnd</strike><br />
                                    25.000.000vnd
                                </span>
                                <div class="btn buy-btn">Add To Cart</div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#">
                            <div class="slider-box">
                                <div class="img-box">
                                    <img src="~/assets/img/pc1.jpg" alt="" width="100%" height="200px" />
                                </div>
                                <p class="details">
                                    PC gaming Asus rog strix ga35
                                </p>
                                <span class="price">
                                    <strike>30.000.000vnd</strike><br />
                                    25.000.000vnd
                                </span>
                                <div class="btn buy-btn">Add To Cart</div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#">
                            <div class="slider-box">
                                <div class="img-box">
                                    <img src="~/assets/img/pc1.jpg" alt="" width="100%" height="200px" />
                                </div>
                                <p class="details">
                                    PC gaming Asus rog strix ga35
                                </p>
                                <span class="price">
                                    <strike>30.000.000vnd</strike><br />
                                    25.000.000vnd
                                </span>
                                <div class="btn buy-btn">Add To Cart</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            @*NEW ARRIVAL*@
            <h3 class="heading text-center font-weight-semibold mb-3 mt-5">N E W &nbsp; A R R I V A L</h3>
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#">
                            <div class="slider-box">
                                <div class="img-box"><img src="~/images/products/laptop-dell-inspiron-15-3520-i3u082w11blu.jpg" width="100%" height="200px" />
                                </div>
                                <p class="details">
                                    Laptop Dell Inspirion 15 3000 I3511
                                </p>
                                <span class="price">
                                    <strike>14.990.000vnd</strike><br />
                                    13.990.000vnd
                                </span>
                                <div class="btn buy-btn">Add To Cart</div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#">
                            <div class="slider-box">
                                <div class="img-box"><img src="~/images/products/macbook-pro-14-m1-core-gpu.jpeg" alt="" width="100%" height="200px" />
                                </div>
                                <p class="details">
                                    Macbook Pro 14 M1 Pro 10 CPU
                                </p>
                                <span class="price">
                                    <strike>71.990.000vnd</strike><br />
                                    61.990.000vnd
                                </span>
                                <div class="btn buy-btn">Add To Cart</div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#">
                            <div class="slider-box">
                                <div class="img-box">
                                    <img src="~/assets/img/laptop new arrival.jpg" alt="" width="100%" height="200px" />
                                </div>
                                <p class="details">
                                    Laptop MSI Modern 14 B11SBU-668VN
                                </p>
                                <span class="price">
                                    <strike>22.490.000vnd</strike><br />
                                    13.990.000vnd
                                </span>
                                <div class="btn buy-btn">Add To Cart</div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#">
                            <div class="slider-box">
                                <div class="img-box">
                                    <img src="~/images/products/laptop-asus-vivobook-15x-oled-a1503za-l1421w.png" alt="" width="100%" height="200px" />
                                </div>
                                <p class="details">
                                    Laptop Asus VivoBook A515EA OLED
                                </p>
                                <span class="price">
                                    <strike>30.000.000vnd</strike><br />
                                    25.000.000vnd
                                </span>
                                <div class="btn buy-btn">Add To Cart</div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#">
                            <div class="slider-box">
                                <div class="img-box">
                                    <img src="~/assets/img/laptop new arrival.jpg" alt="" width="100%" height="200px" />
                                </div>
                                <p class="details">
                                    PC gaming Asus rog strix ga35
                                </p>
                                <span class="price">
                                    <strike>30.000.000vnd</strike><br />
                                    25.000.000vnd
                                </span>
                                <div class="btn buy-btn">Add To Cart</div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#">
                            <div class="slider-box">
                                <div class="img-box">
                                    <img src="~/assets/img/laptop new arrival.jpg" alt="" width="100%" height="200px" />
                                </div>
                                <p class="details">
                                    PC gaming Asus rog strix ga35
                                </p>
                                <span class="price">
                                    <strike>30.000.000vnd</strike><br />
                                    25.000.000vnd
                                </span>
                                <div class="btn buy-btn">Add To Cart</div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#">
                            <div class="slider-box">
                                <div class="img-box">
                                    <img src="~/assets/img/laptop new arrival.jpg" alt="" width="100%" height="200px" />
                                </div>
                                <p class="details">
                                    PC gaming Asus rog strix ga35
                                </p>
                                <span class="price">
                                    <strike>30.000.000vnd</strike><br />
                                    25.000.000vnd
                                </span>
                                <div class="btn buy-btn">Add To Cart</div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#">
                            <div class="slider-box">
                                <div class="img-box">
                                    <img src="~/assets/img/laptop new arrival.jpg" alt="" width="100%" height="200px" />
                                </div>
                                <p class="details">
                                    PC gaming Asus rog strix ga35
                                </p>
                                <span class="price">
                                    <strike>30.000.000vnd</strike><br />
                                    25.000.000vnd
                                </span>
                                <div class="btn buy-btn">Add To Cart</div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#">
                            <div class="slider-box">
                                <div class="img-box">
                                    <img src="~/assets/img/laptop new arrival.jpg" alt="" width="100%" height="200px" />
                                </div>
                                <p class="details">
                                    PC gaming Asus rog strix ga35
                                </p>
                                <span class="price">
                                    <strike>30.000.000vnd</strike><br />
                                    25.000.000vnd
                                </span>
                                <div class="btn buy-btn">Add To Cart</div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#">
                            <div class="slider-box">
                                <div class="img-box">
                                    <img src="~/assets/img/laptop new arrival.jpg" alt="" width="100%" height="200px" />
                                </div>
                                <p class="details">
                                    PC gaming Asus rog strix ga35
                                </p>
                                <span class="price">
                                    <strike>30.000.000vnd</strike><br />
                                    25.000.000vnd
                                </span>
                                <div class="btn buy-btn">Add To Cart</div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#">
                            <div class="slider-box">
                                <div class="img-box">
                                    <img src="~/assets/img/laptop new arrival.jpg" alt="" width="100%" height="200px" />
                                </div>
                                <p class="details">
                                    PC gaming Asus rog strix ga35
                                </p>
                                <span class="price">
                                    <strike>30.000.000vnd</strike><br />
                                    25.000.000vnd
                                </span>
                                <div class="btn buy-btn">Add To Cart</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right-zone ads" >
      
        <img src="~/assets/img/banner-right.png" class="" height="350px" />
    </div>
</div>


