/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

/*LOGO STYLING*/
a.navbar-brand {
    white-space: normal;
    text-align: center;
    /*word-break: break-all;*/
    font-weight: bold;
    font-size: 150%;
}


/*footer*/

/*.footer {*/
/*position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;*/ /* Vertically center the text there */
/*position: fixed;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 60px;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/*body {
    line-height: 1.5;*/
/*   font-family: 'Poppins', sans-serif;*/

/*}*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1170px;
    margin-top: 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
    padding: 0;
}

.footer {
    background-color: #24262b;
    padding: 30px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

    .footer-col h4 {
        font-size: 18px;
        color: #ffffff;
        text-transform: capitalize;
        margin-bottom: 35px;
        font-weight: 500;
        position: relative;
    }

        .footer-col h4::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: -10px;
            background-color: #e91e63;
            height: 2px;
            box-sizing: border-box;
            width: 50px;
            text-align: center;
        }

    .footer-col ul li:not(:last-child) {
        margin-bottom: 10px;
    }

    .footer-col ul li a {
        font-size: 16px;
        text-transform: capitalize;
        color: #ffffff;
        text-decoration: none;
        font-weight: 300;
        color: #bbbbbb;
        display: block;
        transition: all 0.3s ease;
    }

        .footer-col ul li a:hover {
            color: #ffffff;
            padding-left: 8px;
        }

    .footer-col .social-links a {
        display: inline-block;
        height: 40px;
        width: 40px;
        background-color: rgba(255,255,255,0.2);
        margin: 0 10px 10px 0;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        color: #ffffff;
        transition: all 0.5s ease;
    }

        .footer-col .social-links a:hover {
            color: #24262b;
            background-color: #ffffff;
        }

.copyright {
    margin-top: 10px;
    background-color: #FEEDE2;
    padding: 10px 0;
    text-align: center;
    color: #0C0C0C;
    font-size: 17px;
}
/*body css*/
body {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}

/*Navi css*/
#category {
    height: 500px;
}

    #category .heading {
        text-align: center;
        margin-bottom: 15px;
        color: #e4e2e2;
        background: #175B6A;
        font-weight: 700;
        font-size: 14px;
        width: 100%;
        line-height: 30px;
        border-radius: 5px;
    }

        #category .heading a {
            margin: 0 60px 0 60px;
            color: #e4e2e2;
            text-decoration: none;
        }

            #category .heading a:hover {
                color: #ccc;
            }

    #category .nav-item {
        display: block;
        height: auto;
        border: 0.5px solid #000;
        border-radius: 0 0 0 5px;
    }

        #category .nav-item .btn {
            padding-left: 55px;
            line-height: 60px;
            border-radius: 0;
            width: 100%;
            background: #E7E7E7;
            font-weight: 700;
            text-align: initial;
        }

            #category .nav-item .btn::after {
                content: '';
                position: absolute;
                width: 25%;
                left: 20%;
                height: 78px;
                margin-top: -9px;
            }

            #category .nav-item li:hover .btn,
            #category .nav-item .btn:hover {
                background: #3eaab9;
                color: white;
            }

        #category .nav-item .subnav {
            list-style: none;
            display: none;
            position: absolute;
            margin-left: 288px;
            margin-top: -79px;
            min-width: 857px;
            min-height: 470px;
            border-radius: 5px;
            background-color: #E7E7E7;
            box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
            padding-inline-start: 0;
            z-index: 4;
        }

        #category .nav-item li:hover .subnav {
            display: block;
        }

        #category .nav-item .subnav .head-nav {
            color: #000000b2;
            text-decoration: none;
            text-align: center;
            margin-top: 10px;
        }

            #category .nav-item .subnav .head-nav:hover {
                color: gray;
            }


    #category .subnav2 > li {
        display: inline-grid;
        width: 275px;
        margin: 5px 0;
        line-height: 28px;
        text-align: center;
    }

    #category .subnav2 span {
        color: #035b86;
        font-weight: 600;
        font-size: 20px;
    }

    #category .subnav2 li a {
        color: #000000ae;
        text-decoration: none;
        font-weight: 500;
        font-size: 15px;
    }

        #category .subnav2 li a:hover {
            color: cadetblue;
        }

    #category .nav-item i {
        font-size: 30px;
        padding-right: 30px;
    }



/*Product css*/
#product {
    height: px;
}
