/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior:smooth;
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

/*LOGO STYLING*/
a.navbar-brand {
    margin-left: 200px;
    text-align:center;
    white-space: pre;   
    margin-right: 200px;
    /*word-break: break-all;*/
    font-weight: bold;
    font-size: 190%;
    color:red;
    
}


/*footer*/

/*.footer {*/
/*position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;*/ /* Vertically center the text there */
/*position: fixed;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 60px;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/*body {
    line-height: 1.5;*/
/*   font-family: 'Poppins', sans-serif;*/

/*}*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1170px;
    margin-top: 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
    padding: 0;
}
.gotopbtn {
    position: fixed;
    bottom: 40px;
    right: 50px;
    background: #175B6a;
    z-index: 99;
    border: none;
    outline: none;
    border-radius: 5px;
    /*z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #1b6ec2;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    
    */
    -webkit-transition-duration: 0.4s;
    cursor: pointer;
    width: 50px;
    height: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 30px;
}
    .gotopbtn:hover {
        background: #fff;
        box-shadow: 0px 2px 10px 5px #97B1BF;
        color: #000;
    }
    .gotopbtn:after {
        content: "";
        /*background: #f1c40f;*/
        display: block;
        position: absolute;
        padding-top: 300%;
        padding-left: 350%;
        margin-left: -20px !important;
        margin-top: -120%;
        opacity: 0;
        transition: all 0.8s
    }
    .gotopbtn:active:after {
        padding: 0;
        margin: 0;
        opacity: 1;
        transition: 0s
    }
.footer {
    background-color: #24262b;
    padding: 30px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

    .footer-col h4 {
        font-size: 18px;
        color: #ffffff;
        text-transform: capitalize;
        margin-bottom: 35px;
        font-weight: 500;
        position: relative;
    }

        .footer-col h4::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: -10px;
            background-color: #e91e63;
            height: 2px;
            box-sizing: border-box;
            width: 50px;
            text-align: center;
        }

    .footer-col ul li:not(:last-child) {
        margin-bottom: 10px;
    }

    .footer-col ul li a {
        font-size: 16px;
        text-transform: capitalize;
        color: #ffffff;
        text-decoration: none;
        font-weight: 300;
        color: #bbbbbb;
        display: block;
        transition: all 0.3s ease;
    }

        .footer-col ul li a:hover {
            color: #ffffff;
            padding-left: 8px;
        }

    .footer-col .social-links a {
        display: inline-block;
        height: 40px;
        width: 40px;
        background-color: rgba(255,255,255,0.2);
        margin: 0 10px 10px 0;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        color: #ffffff;
        transition: all 0.5s ease;
    }

        .footer-col .social-links a:hover {
            color: #24262b;
            background-color: #ffffff;
        }

.copyright {
    margin-top: 10px;
    background-color: #FEEDE2;
    padding: 10px 0;
    text-align: center;
    color: #0C0C0C;
    font-size: 17px;
}
/*body css*/
body {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}

/*Navi css*/
#category {
    height: 500px;
}

    #category .heading {
        text-align: center;
        margin-bottom: 15px;
        color: #e4e2e2;
        background: #175B6A;
        font-weight: 700;
        font-size: 14px;
        width: 100%;
        line-height: 30px;
        border-radius: 5px;
    }

        #category .heading a {
            margin: 0 60px 0 60px;
            color: white;
            text-decoration: none;
        }

            #category .heading a:hover {
                color: #ccc;
            }

    #category .nav-item {
        display: block;
        height: auto;
        border: 0.5px solid #000;
        border-radius: 0 0 0 5px;
    }

        #category .nav-item .btn {
            padding-left: 55px;
            line-height: 60px;
            border-radius: 0;
            width: 100%;
            background: #E7E7E7;
            font-weight: 700;
            text-align: initial;
        }

            #category .nav-item .btn::after {
                content: '';
                position: absolute;
                width: 25%;
                left: 20%;
                height: 78px;
                margin-top: -9px;
            }

            #category .nav-item li:hover .btn,
            #category .nav-item .btn:hover {
                background: #3eaab9;
                color: white;
            }

        #category .nav-item .subnav {
            list-style: none;
            display: none;
            position: absolute;
            margin-left: 288px;
            margin-top: -79px;
            min-width: 857px;
            min-height: 470px;
            border-radius: 5px;
            background-color: #E7E7E7;
            box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
            padding-inline-start: 0;
            z-index: 4;
        }

        #category .nav-item li:hover .subnav {
            display: block;
        }

        #category .nav-item .subnav .head-nav {
            color: #000000b2;
            text-decoration: none;
            text-align: center;
            margin-top: 10px;
        }

            #category .nav-item .subnav .head-nav:hover {
                color: gray;
            }


    #category .subnav2 > li {
        display: inline-grid;
        width: 275px;
        margin: 5px 0;
        line-height: 28px;
        text-align: center;
    }

    #category .subnav2 span {
        color: #035b86;
        font-weight: 600;
        font-size: 20px;
    }

    #category .subnav2 li a {
        color: #000000ae;
        text-decoration: none;
        font-weight: 500;
        font-size: 15px;
    }

        #category .subnav2 li a:hover {
            color: cadetblue;
        }

    #category .nav-item i {
        font-size: 30px;
        padding-right: 30px;
    }



/*Product css*/
#product {
    height: px;
}


/*Product list css*/
section a {
    text-decoration: none;
}

section .background-img img {
    width: 100%;
}

section .card {
    transition: transform 0.5s;
}

    section .card::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: opacity 2s cubic-bezier(0.165, 0.84, 0.44, 1);
        box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
        content: "";
        opacity: 0;
        z-index: -1;
    }

    section .card:hover,
    .card:focus {
        transform: scale3d(1.006, 1.006, 1);
        cursor: pointer;
    }

        section .card:hover::after,
        .card:focus::after {
            opacity: 1;
        }

section .bg-cart {
    background-color: rgb(255, 255, 255);
    color: #000;
    margin: 10px 0 0 42px;
    border: 2px solid cadetblue;
}

    section .bg-cart:hover {
        background-color: cadetblue;
        color: white;
    }


section .divider {
    position: relative;
}

section .container .filter {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

section .side-nav {
    position: sticky;
    top: 20px;
    height: 550px;
    display: block;
    margin-bottom: 24px;
    text-align: center;
    z-index: 1;
}

    section .side-nav h5 {
        font-size: 18px;
        text-align: center;
        border: 2px solid black;
        border-radius: 5px;
        padding-top: 6px;
        height: 40px;
        background-color: #175B6A;
        color: rgb(238, 236, 236);
    }

section .nav2 {
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
}

.menu {
    display: block;
    justify-content: center;
    padding-inline-start: 0;
}

.dropdown {
    /* padding: 20px 40px; */
    margin-top: 25px;
    line-height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    position: relative;
    font-size: 18px;
    perspective: 1000px;
}

    .dropdown a {
        font-size: 14px;
        font-weight: bold;
        color: rgb(56, 54, 54);
    }

    .dropdown > a::after {
        content: " ";
        width: 90px;
        position: absolute;
        margin: 0 auto;
        bottom: -8px;
        left: 35%;
        height: 4px;
        border-radius: 1px;
        background: white;
    }

    .dropdown:hover a::after {
        background-color: rgb(47, 172, 231);
        border-radius: 5px;
    }

    .dropdown:hover {
        cursor: pointer;
    }

        .dropdown:hover > a {
            color: rgb(30, 161, 223);
        }

        .dropdown:hover .dropdown_menu li {
            display: inline;
        }



.dropdown_menu {
    position: absolute;
    margin-left: 228px;
    margin-top: -40px;
    top: 100%;
    left: 0;
    width: 100%;
    perspective: 1000px;
    z-index: 10000;
}

.dropdown_item-1 {
    margin-right: -5px;
    border-right: 2px solid black;
}

.dropdown_item-2 {
    border-radius: 0 5px 5px 0;
}

.dropdown_menu li {
    display: none;
    height: 100px;
    color: white;
    background-color: rgba(232, 232, 232, 0.86);
    padding: 30px 21px;
    width: 150px;
    font-size: 16px;
    opacity: 0;
}

    .dropdown_menu li:hover {
        background-color: #0f598a;
        cursor: pointer;
    }

        .dropdown_menu li:hover a {
            color: white;
        }


/* // Menu as a whole animated */
.dropdown:hover .dropdown_menu--animated {
    display: block;
}

.dropdown_menu--animated {
    display: none;
}

    .dropdown_menu--animated li {
        display: block;
        opacity: 1
    }

.dropdown_menu-6 {
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center
}


@keyframes growDown {
    0% {
        transform: scaleY(0)
    }

    80% {
        transform: scaleY(1.1)
    }

    100% {
        transform: scaleY(1)
    }
}

section .title {
    margin-bottom: 40px;
    color: black
}

    section .title::after {
        content: "";
        width: 105px;
        position: absolute;
        margin: 0 auto;
        height: 4px;
        border-radius: 5px;
        background: #175B6A;
        left: 0;
        right: 0;
    }
