.app{
  overflow: hidden;
}


/* App Container */


.app__container {
  background-color: #f5f5f5;
}

.app__content {
  padding-top: 36px;
}

.category {
  background-color: var(--white-color);
  border-radius: 2px;
}

.category__heading {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--text-color);
  padding: 16px 16px 0;
  margin-top: 0;
  text-transform: uppercase;
}

.category-list {
  padding: 0 0 8px 0;
  list-style: none;
}

.category-item {
  position: relative;
}

.category-item:first-child::before {
  display: none;
}

.category-item::before {
  border-top: 1px solid #e1e1e1;
  content: "";
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
}

.category-item--active .category-item__link {
  color: var(--primary-color);
}

.category-item--active .category-item__link::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 7px;
  transform: translateY(calc(-50% - 1px));
  border: 4px solid;
  border-color: transparent transparent transparent var(--primary-color);
}

.category-item__link {
  position: relative;
  text-decoration: none;
  font-size: 1.4rem;
  color: var(--text-color);
  padding: 10px 20px;
  display: block;
  transition: right linear 0.1s;
  right: 0;
}

.category-item__link:hover {
  color: var(--primary-color);
  right: -4px;
}

/* Mobile category */

.mobile-category{
  display: none;
}
.mobile-category__list{
  display: flex;
  list-style: none;
  padding-left: 0;
  max-width: 100%;
  overflow-x: auto ;
}

.mobile-category__list::-webkit-scrollbar{
  display: none;
}

.mobile-category__item{
  flex-shrink: 0;
  margin-right: 10px;
}

.mobile-category__item:nth-of-type(3n + 1) .mobile-category__link{
  background-color: #87AFD8;
}
.mobile-category__item:nth-of-type(3n + 2) .mobile-category__link{
  background-color: #76c9bd;
}

.mobile-category__item:nth-of-type(3n + 3) .mobile-category__link{
  background-color: #88cf81;
}


.mobile-category__link{
  --line-height: 2rem;
  text-decoration: none;
  color: var(--white-color);
  font-size: 1.4rem;
  line-height: var(--line-height);
  height: calc(var(--line-height) * 2);
  overflow: hidden;
  text-align: center;
  width: 110px;
  border-radius: 5px;
  font-weight: 300;
  padding: 0 6px;
  /* Lam dau 3 cham khi qua 2 dong */
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  
  /* Ngan không cho coppy */
  user-select: none;
  -webkit-user-select: none;

  /* tat highlight khi click vao tren mobile */
  -webkit-tap-highlight-color: transparent;
}

/* Home sort + filter */

.home-filter {
  background-color: rgba(0, 0, 0, 0.04);
  display: flex;
  align-items: center;
  padding: 12px 22px;
  border-radius: 2px;
}

.home-filter__label {
  font-size: 1.4rem;
  color: #555555;
  margin-right: 16px;
}

.home-filter__btn {
  min-width: 90px;
  margin-right: 12px;
}

.home-filter__page {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.home-filter__page-num {
  font-size: 1.5rem;
  color: var(--text-color);
  margin-right: 12px;
}

.home-filter__page-current {
  color: var(--primary-color);
}

.home-filter__page-control {
  border-radius: 2px;
  overflow: hidden;
  display: flex;
  width: 72px;
  height: 36px;
}

.home-filter__page-btn {
  flex: 1;
  background-color: var(--white-color);
  display: flex;
  text-decoration: none;
}

.home-filter__page-btn--disabled {
  background-color: #f9f9f9;
  cursor: not-allowed;
}

.home-filter__page-btn--disabled .home-filter__page-icon {
  color: #ccc;
}

.home-filter__page-btn:first-child {
  border-right: 1px solid #eee;
}

.home-filter__page-icon {
  margin: auto;
  font-size: 1.5rem;
  color: #555;
}

/* Home product item*/

.home-product {
  margin-bottom: 10px;
}

.home-product-item {
  display: block;
  position: relative;
  margin-top: 10px;
  background-color: var(--white-color);
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  transition: transform linear 0.1s;
  will-change: transform;
  text-decoration: none;
}

.home-product-item:hover {
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
  transform: translateY(-1px);
}
.home-product-item__img {
  padding-top: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.home-product-item__name {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--text-color);
  line-height: 1.8rem;
  margin: 10px 10px 6px;
  height: 3.6rem;
  overflow: hidden;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.home-product-item__price {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}
.home-product-item__price-old {
  margin-left: 10px;

  font-size: 1.4rem;
  color: #666;
  text-decoration: line-through;
}
.home-product-item__price-current {
  font-size: 1.6rem;
  color: var(--primary-color);
  margin-left: 10px;
}
.home-product-item__action {
  display: flex;
  justify-content: space-between;
  margin: 6px 10px 0;
}
.home-product-item__like {
  font-size: 1.3rem;
}

.home-product-item__like--liked .home-product-item__like-icon-fill {
  display: inline-block;
}

.home-product-item__like--liked .home-product-item__like-icon-empty {
  display: none;
}

i.home-product-item__like-icon-fill {
  display: none;
  color: #f63d30;
}

.home-product-item__rating {
  font-size: 1rem;
  transform: scale(0.8);
  transform-origin: right;
  color: #d5d5d5;
  margin: -1px 0 0 auto;
}

.home-product-item__star--gold {
  color: var(--start-gold-color);
}

.home-product-item__sold {
  font-size: 1.2rem;
  color: var(--text-color);
  margin-left: 6px;
}

.home-product-item__origin {
  display: flex;
  margin: 3px 10px 0;
  color: #595959;
  font-size: 1.2rem;
  font-weight: 300;
}

.home-product-item__origin-name {
  margin-left: auto;
}
.home-product-item__favourite {
  position: absolute;
  top: 10px;
  left: -4px;
  color: var(--primary-color);
  background-color: currentColor;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.6rem;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.home-product-item__favourite::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  border-top: 3px solid currentColor;
  border-left: 3px solid transparent;
  filter: brightness(60%);
}

.home-product-item__favourite span {
  color: var(--white-color);
  padding-right: 4px;
}
.home-product-item__favourite i {
  color: var(--white-color);
  font-size: 0.9rem;
  margin: 0 2px 0 5px;
}
.home-product-item__sale-off {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 36px;
  text-align: center;
  background-color: rgba(255, 216, 64, 0.92);
  border-top-right-radius: 2px;
}

.home-product-item__sale-off::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -5px;
  border-width: 0 20px 5px;
  border-style: solid;
  color: rgba(255, 216, 64, 0.92);
  border-color: transparent currentColor transparent currentColor;
}

.home-product-item__sale-off-percent {
  color: #ee4d2d;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.9rem;
}
.home-product-item__sale-off-label {
  color: var(--white-color);
  font-size: 1.3rem;
  line-height: 1.3rem;
  position: relative;
  top: 2px;
  font-weight: 600;
}

.home-product__pagination {
  margin: 48px 0 32px 0;
  padding-left: 0;
}

/* footer */
.footer {
  padding-top: 20px;
  border-top: 4px solid var(--primary-color);
  background-color: var(--white-color);
}

.footer__heading {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: var(--text-color);
}
.footer-list {
  padding-left: 0;
  list-style: none;
}

.footer-item__link {
  text-decoration: none;
  font-size: 1.2rem;
  color: #737373;
  padding: 5px 0;
  display: flex;
  align-items: center;
}

.footer-item__link:hover {
  color: var(--primary-color);
}
.footer-item__icon {
  font-size: 1.8rem;
  margin: -1px 8px 0 0;
}
.footer__download {
  display: flex;
}
.footer__dowload-qr {
  width: 80px;
  height: 80px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px #e0e0e0;
}
.footer__download-apps {
  flex: 1;
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer__download-app-img {
  height: 18px;
}

.footer__download-app-link {
  text-decoration: none;
  color: transparent;
}

.footer__bottom {
  background-color: #f5f5f5;
  padding: 24px 0;
  margin-top: 24px;
}

.footer__text {
  margin: 0;
  font-size: 1.4rem;
  text-align: center;
  color: #737373;
}
